<!-- <h3>Упражнения</h3> -->

<%= link_to 'Записать результат', new_training_path, :class => "btn btn-primary btn-lg btn-block" %>

<br />

<% trainings_by_date = @trainings_g.group_by(&:date) %>

<% trainings_by_date.each do |t| %>
  <h4><%= t[0].strftime("%b %e, %Y") %></h4>
  <div class="list-group">
  <% t[1].each do |z| %> 
    <a class="list-group-item"><%= z.name %> <span class="badge"><%= z.weight %></span></a>
  <% end %>
  </div>
<%end %>