<h3>
	DearGravity
</h3>
<p>Простой блокнот для записи достижений в тренажерном зале.</p>

<div class="well">
	<%= link_to 'Войти', 'log-in/', :class => "btn btn-primary btn-lg btn-block" %>
	<%= link_to 'Зарегистрироваться', 'users/new/', :class => "btn btn-primary btn-lg btn-block" %>
</div>